html, 
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.container {
  background-color: lightgray;
  height: 100%;
  width: 100vw;
}

nav {
  background-color: darkgray;
  color: red;
}

#red {
  color: maroon;
  font-size: 34px;
}

input {
  display: inline-block
}

img {
  height: 125px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  cursor: pointer;
}