html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

.container {
  height: 100%;
  width: 100vw;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: 26px;
  font-family: Garamond;
}

nav {
  color: red;
}

#red {
  color: maroon;
  font-size: 34px;
}

input {
  display: inline-block;
}

img {
  width: 185px;
  margin-bottom: 0.7em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

span:hover {
  cursor: pointer;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  display: flex;
  align-items: flex-end;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* News Article headline*/
.headline > a {
  color: rgb(38, 16, 133);
}

/* News Article headline*/
.headline > span {
  font-size: small;
}

/* News Article headline div spacing*/
.headline {
  margin-bottom: 0.5em;
}

/* News Article headline div spacing*/
.grid-stack-item {
  border-radius: 5px;
  border: 1px solid rgba(50, 50, 50, 0.5);
}

/* Corona Daily Update Table formatting CSS*/
.tg {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 3px 10px;
  word-break: normal;
}
.tg th {
  border-style: solid;
  border-width: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 3px 10px;
  word-break: normal;
}
.tg .tg-lqy6 {
  text-align: right;
  vertical-align: top;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

/* Widget header div spacing*/
.widget-header {
  margin-top: 0.5em;
}

#hhmm {
  font-size: 96px;
  height: 96px;
}

#ss {
  font-size: 48px;
  height: 48px;
}

#ampm {
  font-size: 96px;
  height: 96px;
}

#date-span {
  font-size: 20px;
}

.date-time {
  line-height: 1;
}

.welcome {
  font-size: 20px;
}
